<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="infoApp">
<head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/angular/angular-csp.css" />
    <link rel="stylesheet" href="site.css" />

    <title>About Me</title>
</head>
<body>
    <div class="container" id="main" ng-controller="infoController">
        
        <h1>Cory Gordinier</h1>
        
        <accordion close-others="oneAtATime">

            <!--ABOUT ME SECTION-->
            <accordion-group class="mainPanel" heading="About Me" is-open="status.isFirstOpen">
            
                <div class="list-group-item-rounded">
                    
                    <ul class="list-unstyled list-group" ng-hide="hideAboutAll">
                        <!--PICs-->
                        <li class="list-group-item-rounded" ng-hide="hideAboutPics">
                            <div class="row fadein fadeout" ng-hide="hideAboutPics">
                                <div cjgcarousel></div>
                            </div>             
                        </li>

                        <br />

                        <li class="list-group-item-rounded" ng-hide="hideAboutDetails">
                            <!--TEXT-->
                            <div class="row fadein fadeout" ng-hide="hideAboutDetails">

                                <div class="aboutBlock">
                                    <div class="row">
                                        <div class="col-sm-12 text-left">
                                            I am a graduate of the University of Michigan: Ann Arbor, with a Bachelor of Science in Engineering in Computer Science.<br /><br />

                                            I have four years of industry experience, three of which involving the .NET C# platform.<br /a>
                                            I am full-time Software Engineer, working for <a href="http://www.reuters.com">Thomson Reuters</a> as of Spring 2014.<br /><br />

                                            I was previously an Instructive Aide (IA) for EECS 481, the Software Engineering course at the University of Michigan.<br />
                                            My work for the class was the subject of <a href="http://btn.com/2014/02/14/btn-livebig-michigan-premiere-tonight/">
                                            a Big Ten interview</a> as well as <a href="http://dme.engin.umich.edu/grace/#-home">a University of Michigan informative video.</a> <br /><br />

                                            As a little about myself: I consider myself a fashionable guy, a car guy (own a 2007 Mustang),<br /a> a beer snob (my favorite is Bell's Brewing from Kalamazoo, Michigan), and a musician. I have been playing guitar since middle school. 

                                            <br/><br/>Lastly, I am a Wolverine. Go Blue!
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ul>
                    
                    <!--BUTTONS-->
                    <div class="row">
                        <div class="col-sm-3">
                            <button class="btn btn-default" ng-click="toggleShowAboutDetails()">
                                <span ng-show="hideAboutDetails">Show Details</span>
                                <span ng-hide="hideAboutDetails">Hide Details</span>
                            </button>
                        </div>
                        
                        <div class="col-sm-6"></div>

                        <div class="col-sm-3 text-right">
                            <button class="btn btn-default" ng-click="toggleShowAboutPictures()">
                                <span ng-show="hideAboutPics">Show Pictures</span>
                                <span ng-hide="hideAboutPics">Hide Pictures</span>
                            </button>
                        </div>
                    </div>

                </div>

            </accordion-group>
            
            <accordion-group class="mainPanel" heading="Work History" isOpen="\'true\'">
            
                <div class="list-group-item-rounded">

                <cjgaccordian sites="worksites"></cjgaccordian>

                    <!--BUTTONS--
                    <div class="row">
                        <div class="col-sm-3">
                            <button class="btn btn-default" ng-click="toggleShowAllWorkDetails()">
                                <span ng-show="hideWorkAll">Show Details</span>
                                <span ng-hide="hideWorkAll">Hide Details</span>
                            </button>
                        </div>
                    </div>-->

                </div>

            </accordion-group>                

        </accordian>

    <!--End Main Container Div-->
    </div>


    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="App/app.js"></script>
    <script src="App/Models/work.js"></script>
    <script src="App/Models/worksites.js"></script>
    <script src="App/Controllers/WorkController.js"></script>
    <script src="App/Directives/cjgcarousel.js"></script>
    <script src="App/Directives/cjgaccordian.js"></script>

</body>
</html>
