/* https://stackoverflow.com/questions/10769016/display-image-on-text-link-hover-css-only */
.hover_img { 
    position:relative; 
}

.hover_img span { 
    position:absolute; 
    display:none; 
    z-index:99; 
}

.hover_img:hover span { 
    display:block; 
}
