.cjg-modal .close {
  padding-top: 5px;
  padding-right: 10px;
  font-size: 3vw;
}

.cjg-modal .modal-header {
    font-family: WeblySleekUi;
    font-size: 2vw;
    font-weight: bold;
}

.cjg-modal .modal-body .container {
    width: 100%;
}
