.hobby-info-container {
  padding-left: 7%;
  padding-right: 7%;
}

.hobby-info-container .jumbotron {
  background-color: rgba(255, 255, 255, 0.80);
  padding-top: 15px;
  padding-bottom: 40px;
}

.hobby-info-container .slide-image {
  width: 100%;
  padding-bottom: 15px;
}

.hobby-info-container h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.hobby-info-container h2 a {
  color: #333;
  font-family: 'Montserrat';
  font-size: 24px;
}

.hobby-info-container h2 a:hover{
  color: #333;
}

.hobby-info-container h5 a {
  color: #777;
}

.hobby-info-container h5 a:hover{
  color: #777;
}

.hobby-info-container .hobby-content {
    font-family: "ElizabethSerif",Georgia,serif;
    font-weight: 500;
    font-size: 16px;
    /*line-height: 29px;*/
}

.fp-controlArrow.fp-prev {
  opacity: 0.7;
}

.fp-controlArrow.fp-next {
  opacity: 0.7;
}
